{% extends "layout.html" %}
{% load static %}

{% block form %}{% endblock form %}

{% block content %}    
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Country</th>
                <th>Population</th>
                <th>Latitude</th>
                <th>Longitude</th>
            </tr>
        </thead>
        <tbody>
            {% for city in page_obj %}
                <tr>
                    <td colspan=2>            
                        <a href="/city/?city={{city.name}}">
                        {{ city.name }}
                        </a>
                    </td>
                    <td>{{ city.country_code }}</td>
                    <td>{{ city.population }}</td>
                    <td>{{ city.latitude }}</td>
                    <td>{{ city.longitude }}</td>
                </tr>
            {% empty %}
            <tr>
                <td colspan="5"><h2>No data available</h2></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="1">« prima</a>
                <a href="{{ page_obj.previous_page_number }}">precedente</a>
            {% endif %}

            <span class="current">
                Pagina {{ page_obj.number }} di {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
                <a href="{{ page_obj.next_page_number }}">successiva</a>
                <a href="{{ page_obj.paginator.num_pages }}">ultima »</a>
            {% endif %}
        </span>
    </div>
{% endblock content %}
