:root {
    /* typography */
    --xxl-size: 64px;
    --xl-size: 52px;
    --lg-size: 44px;
    --md-size: 32px;
    --sm-size: 24px;

    /* colors */    
    --main-color: rgb(69, 69, 199);
    --secondary-color: #00bcd4;
    --complementary-color: #d45e03;
    --accent-color: #ffcc00;
    --dark-color: #292929;
    --dark-icon-bg: rgb(180, 180, 180);
    --grey: #f3f3f3;
    --light-color: #f0f0f0;
    --light-icon-bg: rgb(220, 220, 220);
    --red:  #8B0000;
    --green: #50C878;
    --yellow:#FFD700;

    /* effects */
    --shadow: 0px 0px 10px rgba(0, 0,  0, 0.2);
    --hover-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: background 400ms, color 200ms;
}
   
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--dark-color);
    color: var(--light-color);
    height: 100dvh;
}

main {
    text-align: center;
}

h1 {
    font-size: var(--xl-size);
    color: var(--main-color);
    margin-top: 1rem;
    margin-bottom: 2rem;
}

h2 {
    color: var(--complementary-color);
    font-size: var(--lg-size);
}

strong {
    color: var(--accent-color);
    font-size: var(--sm-size);
}

form {
    margin-top: 1rem;
}

.main-icon {
    height: 300px;
    width: 300px;
    transition: opacity 200ms;
}

.error-icon {
    max-height: 20rem;
    margin: 3rem;
}


.input-group {
    margin-block: 15px;
}

input[type="text"] {
    min-width: 40%;
    background: none;
    border: none;
    color: var(--light-color);
    padding: 5px;
    font-size: var(--md-size);
    border-bottom: 2px solid var(--grey);
    transition: border ease 300ms, color ease 300ms;
}

input[type="text"]:focus{
    border-color: var(--secondary-color);
    outline: none;
}

button[type="submit"] {
    font-size: var(--sm-size);
    color: var(--light-color);
    background-color: var(--main-color);
    margin-inline: 5px;
    padding: 10px 18px;
    border-radius: 15px;
    border: none;
    transition: opacity 200ms;
}

button[type="submit"]:hover, .main-icon:hover {
    cursor: pointer;
    opacity: 0.8;
}

.date {
    font-size: var(--md-size);
    margin-bottom: 1.5rem;
    display: block;
}

.city-query-container {
    text-align: start;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
    gap: 1rem;
}

.city-query-box {

   padding: 1.5rem;
   min-height: 500px;
   border-radius: 15px;
   box-shadow: var(--shadow);

}

.air_conditions-box {

    border-radius: 15px;
    box-shadow: var(--shadow);
    padding: 1rem;

    
    @media screen and (min-width: 923px) and (max-width: 1421px) {
        width: 90%;
        margin: auto;
    }
}

.air_conditions-box > p {

    margin-bottom: .5rem;

}

iframe {

   min-height: 500px;
   outline: none;
   border: none;
   border-radius: 15px;
   box-shadow: var(--shadow);

}

.city-query-box h2 {
    font-size: var(--xxl-size);
    color: var(--secondary-color);
}

.query-infos{
    font-size: var(--lg-size);
}

.query-infos > p {
    display: inline;
}
.info-container {
    display: flex;
    justify-content: start;
    gap: 1.5rem;
}

.info-container > figcaption {
    align-self: center;
    font-size: var(--xl-size);
    color: var(--complementary-color);
}

.city-container {
    margin: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.city-box {
    text-align: start;
    padding: 20px 35px;
    border-radius: 15px;
    box-shadow: var(--shadow);
    transition: transform ease 400ms;
}

.city-box:hover {
  cursor: pointer;
  transform: scale(1.08);
  box-shadow: 1px 1px 10px rgba(0, 0,  0, 0.2);
}

.no-style, .no-style:visited {
    text-decoration: none;
    color: var(--light-color);
}

ul {
    list-style: none;
}

li {
    font-size: var(--sm-size);
}

.forecast-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.forecast-box {
    text-align: left;
    width: calc(90% /2);
    box-shadow: var(--shadow);
    padding: 1rem;
    border-radius: 15px;
}

.forecast-box h2 {
    color: var(--secondary-color);
}


.hour-icon, .forecast-box img , .city-query-box img {

    background-color: var(--dark-icon-bg);
    margin-block: 1rem;
    border-radius: 15px;

 }

.forecast-box ul > li , .forecast-box strong{

font-size: var(--md-size);

}

.summary {
    overflow-wrap: break-word;
    font-size: var(--md-size);
}

#hour-container {

    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 1rem;
    width: 91%;
    padding: 1rem;
    border-radius: 15px;
    gap: 1rem;
    box-shadow: var(--shadow);
}

#hour-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.hour-list {
    
    text-align: center;
    width: 200px;
    gap: .5rem;

}



.alert-container {
    width: 90%;
    margin: auto;
    margin-block: 1rem;
}

.alert {
    color: rgba(240, 20, 20);
    text-align: start;
    font-size: var(--md-size);
}

/* container to dark/light mode buttons */

#layout-btn-container {
    position: absolute;
    top: 1rem;
    left: 1.5rem;
}

.theme-toggle {
    border: none;
    background: none;
    padding: 10px 18px;
    border-radius: 15px;
    transition: transform 400ms;
    box-shadow: var(--shadow);

}

.theme-toggle:hover{
    transform: scale(1.1);
    cursor: pointer;
}

#darkIcon, #lightIcon {
    font-size: var(--xl-size);
    color: var(--accent-color);
}


/* link style */

a {
    color: var(--main-color);
}

a:visited {
   color: var(--secondary-color);
}

h3 a:hover {
    opacity: .8;
}


/* utility classes */

.hidden {
   display: none;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.fade-in {
    animation: fadeIn 0.5s ease-in-out forwards;
}

.red {
    color: var(--red);
}
.yellow {
    color: var(--yellow);
}
.green {
    color: var(--green);
}

/* light mode */

.light-mode {

  background-color: var(--light-color);

}

.light-mode article, .light-mode section {

  color: var(--dark-color);

}

.light-mode figure img, .hour-icon {

     background-color: var(--light-icon-bg);
 
 }

 .light-mode input[type="text"] {
    color: var(--dark-color);
    border-color: var(--dark-color)

 }

 .light-mode input[type="text"]:focus {

    border-color: var(--secondary-color);

 }

.light-mode h2 {
    color: var(--main-color);
}

 .light-mode strong {
    color: var(--secondary-color);
 }

 .light-mode figcaption {
    color: var(--main-color);
 }

 .light-mode #darkIcon, .light-mode #lightIcon {
    color: #b19219;
}

/* media query for large size wieport */
@media screen and (min-width: 1750px) {
    
    
     #hour-box {

         display: grid;
         gap: 2rem;
         grid-template-columns: repeat(12, 1fr);
         grid-template-rows: 1fr;

     }

     .hour-list {
        width: auto;
     }

}

/* media query for medium size viewport */
@media screen and (max-width: 1600px) {
    .main-icon {
        height: 200px;
        width: 200px;
    }

    :root {
        --xxl-size: 52px;
        --xl-size: 47px;
        --lg-size: 39px;
        --md-size: 27px;
        --sm-size: 19px;
    }

    input[type="text"] {
        width: 60%;
        font-size: var(--md-size);
    }

    .city-query-container {

        margin-inline: 2rem;

    }
}

/* media query for small size viewport and mobile */
@media screen and (max-width: 920px) {

    :root {
        --xxl-size: 47px;
        --xl-size: 42px;
        --lg-size: 34px;
        --md-size: 22px;
        --sm-size: 14px;
    }
    .main-icon {
        height: 100px;
        width: 100px;
    }

    .city-container {
        padding: 0;
        margin: 0;
        margin-inline: 10px;
    }

    .city-box {
        text-align: start;
        width: 100%;
    }

    .city-box > ul {
        text-align: start;
    }

    .city-query-box .query-infos,
    .city-query-box .info-container 
    {

        text-align: center;
        align-items: center;
    }

    .city-query-box figcaption {
        text-align: center;
    }

    .city-query-container {
        text-align: center;
        align-content: center;
        flex-direction: column;
        margin: 0;
    }

    iframe, .city-query-box {
        height: auto !important;
        width: 80% !important;
    }

    .info-container {
        flex-direction: column;
        align-items: start;
        justify-content: center;
        margin-bottom: .5rem;
    }

    .info-container > img {
        width: 80px;
        height: 80px;
    }

    figcaption {
       text-align: start;
       width: 100%;
    }

    .query-infos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: start;
    }

    .forecast-box {
        width: 100%;
        margin-inline: 1rem;
    }

    .air_conditions-box {
        padding: 2rem;
        width: 80%;
        margin: auto;
    }

    .air_conditions-box p, .air_conditions-box h3, .air_conditions-box h2 {
        text-align: start;
    }

    #hour-container {
        max-height: 400px;
        overflow-y: scroll;
        padding: 0;
        padding-top: 1rem;
    }

    #hour-box {

       width: 90%;
       display: grid;
       grid-template-columns: 1fr 1fr;
       gap: 2rem;
       padding: 0;

    }

    .hour-list {
        width: auto;
    }

}

/* media query for light preference from browser   
@media (prefers-color-scheme: light) {


    body {

        background-color: var(--light-color);
      
      }
      
       article,  section {
      
        color: var(--dark-color);
      
      }
      
       figure img, .hour-icon {
      
           background-color: var(--light-icon-bg);
       
       }
      
        input[type="text"] {
          color: var(--dark-color);
          border-color: var(--dark-color)
      
       }
      
        input[type="text"]:focus {
      
          border-color: var(--secondary-color);
      
       }
      
       h2 {
          color: var(--main-color);
      }
      
        strong {
          color: var(--secondary-color);
       }
      
        figcaption {
          color: var(--main-color);
       }
      
        #darkIcon,  #lightIcon {
          color: #b19219;
      }

}

*/
