{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/weather-favicon.png' %}" >
    <title>Weather{% block title %} App{% endblock title %}</title>
</head>
<body>
    <div id="layout-btn-container">
        <button class="theme-toggle">
        <i class="bi bi-brightness-high-fill" id="lightIcon"></i>
        <i class="bi bi-moon-fill" id="darkIcon"></i>
        </button>
    </div>
    <!--
    <div id="info-btn-container">
        <a href="/cities/1" class="info-button">
            <i class="bi bi-info-square-fill"></i>
        </a>
    </div>
    -->
    <main>
            <a href="/">
                <img src="{% static 'img/weather-favicon.png' %}" class="main-icon">
            </a>
            
            {% block form %}
            <form action="{% url "city" %}" method="get">
                <div class="input-group">
                    {% if city_info %}
                    <input type="text" value="{{city_info.name}}" placeholder="{{city_info.name}}..." name="city" id="city" required>
                    {% else %}
                    <input type="text" placeholder="Inserisci il nome di una città..." name="city" id="city" required>
                    {% endif %}
                    <button type="submit">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </form>
            {% endblock form %}
        
        {% block content %}
        {% endblock content %}

    </main>
    <script src=" {% static '/scripts/main.js' %} "></script>
</body>
</html>