{% extends "layout.html" %}
{% load static %}

{% block title %}
  {% if not error %}
    {{city|title}}
  {% else %}
    Not Found
  {% endif %}
{% endblock title %}

{% block content %}
  {% if city_info and not error %}
    <article class="city-query-container">
      {% include "current.html" %}
    </article>

    <section id="hour-container">
      {% include "hourly.html" %}
    </section>

    {% if forecast_info %}
      <section class="forecast-container">
        {% include "forecast.html" %}
      </section>
    {% endif %}

    {% if alert %}
      <section class="alert-container">
        <h3 class="alert">{{alert|safe}}</h3>
      </section>
    {% endif %}

  {% else %}
    <div class="error-box">
      <h2>città - {{ city }} - non trovata</h2>
      <img class="error-icon" src="{% static "img/not-found.png" %}" alr="city not found">
    </div>
  {% endif %}
{% endblock content %}