{% extends "layout.html" %}

{% block title %}
{% if not error %}
Weather {{city}}
{% else %}
Weather Not Found
{% endif %}
{% endblock title %}

{% block content %}
{% if city_info and not error %}
<article class="city-query">
    {% for item in city_info.weather %}
      <img src="https://openweathermap.org/img/wn/{{item.icon}}@2x.png">
    {% endfor %}
    <h2>{{city_info.name}}</h2>
    <ul>
        {% for item in city_info.weather %}
        <li><strong>{{item.description}}</strong></li>
        {% endfor %}
        <li>Gradi {{city_info.main.temp}}°</li>
        <li>Percepiti {{city_info.main.feels_like}}°</li>
        <li>Umidità {{city_info.main.humidity}}%</li>
        <li>Vento {{city_info.wind.speed}} m/s</li>
    </ul>
  </article>
  <!--
   BOZZA PER INCORPORARE LA MAPPA DEL LUOGO

  <iframe
  width="450"
  height="250"
  frameborder="0" style="border:0"
  referrerpolicy="no-referrer-when-downgrade"
  src="https://www.google.com/maps/embed/v1/view?key={{map_key}}&center={{city_info.coord.lat}},{{city_info.coord.lon}}"
  allowfullscreen>
  </iframe>
-->
{% elif error %}
 <h2>città -{{city}}- non trovata</h2>
{% endif %}
{% endblock content %}