{% extends "layout.html" %}
{% load static %}
{% block title %}
{% if not error %}
 {{city}}
{% else %}
 Not Found
{% endif %}
{% endblock title %}

{% block content %}
{% if city_info and not error %}

<article class="city-query-container">

    <section class="city-query-box">

        <header>
          <h2>{{city_info.name}}</h2>
          <!-- da vedere come gesire anche questa  <h2>{{city_info.sys.country}}</h2> -->
        </header>
        <time class="date" datetime="{{date}}">{{date}}</time>

        <section>
            <strong style="font-size: 46px;"> {{city_info.main.temp|floatformat:"0"}}°C</strong>
            <!--
              BISOGNA SOLO DECIDERE COME E DOVE METTERE I GRADI PERCEPITI

            <strong>Percepiti  {{city_info.main.feels_like|floatformat:"0"}}°C</strong>
            -->
            {% for item in city_info.weather %}
            <figure class="info-container">
              <img src="https://openweathermap.org/img/wn/{{item.icon}}@2x.png" alt="{{item.description}}">
              <figcaption>{{item.description}} </figcaption>
            </figure>
            {% endfor %}
        </section>

        <footer class="query-infos">
          <p>Umidità {{city_info.main.humidity}}%</p>
          <p>Vento {{city_info.wind.speed}} m/s</p>
        </footer>

    </section>

</article>
  <!--
   BOZZA PER INCORPORARE LA MAPPA DEL LUOGO

  <iframe
  width="450"
  height="250"
  frameborder="0" style="border:0"
  referrerpolicy="no-referrer-when-downgrade"
  src="https://www.google.com/maps/embed/v1/view?key={{map_key}}&center={{city_info.coord.lat}},{{city_info.coord.lon}}"
  allowfullscreen>
  </iframe>
-->
{% else %}
<div class="error-box">
  <h2>città -{{ city }}- non trovata</h2>
  <img class="error-icon" src="{% static "img/not-found.svg" %}">
</div>
{% endif %}
{% if forecast_info %}
<section style="display: flex; flex-wrap: wrap;">
{% for day in forecast_info %}
<div style="margin: 2rem; border: 2px solid black;">
  <ul style="text-align: start;">
    <li>{{day.data}}</li>
    <li>{{day.summary}}</li>
    <li>{{day.humidity}}%</li>
    <li>{{day.temp.day|floatformat:"0"}}</li>
    <li>{{day.temp.eve|floatformat:"0"}}</li>
    <li>{{day.temp.night|floatformat:"0"}}</li>
    {% for info in day.weather %}
    <li>{{info.description}}</li>
    <li>{{info.icon}}</li>
    <li>{{info.main}}</li>
    {% endfor %}
  </ul>
  {% if forcecast_info.alert %}
    <p>{{forcecast_info.alert}}</p>
  {% endif %}
</div>

{% endfor %}
</section>
{% endif %}
{% endblock content %}