{% extends "layout.html" %}

{% block content %}

    <section class="city-container">
        {% if start_cities_info %}
          {% for city_info in start_cities_info %}

              <a href="/city/?city={{city_info.name}}" class="no-style">
                <article class="city-box">
                  <h2>{{city_info.name}}</h2>
                  <ul>
                      {% for item in city_info.weather %}
                      <li><strong>{{item.description}}</strong></li>
                      {% endfor %}
                      <li>Temperature {{city_info.main.temp|floatformat:"0"}}°</li>
                      <li>Feels like {{city_info.main.feels_like|floatformat:"0"}}°</li>
                      <li>Humidity {{city_info.main.humidity}}%</li>
                      <li>Wind {{city_info.wind.speed}} m/s</li>
                  </ul>
                </article>
              </a>

          {% endfor %}
        {% endif %}

    </section>

{% endblock content %}