{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}" >
    <title>Weather{% block title %} app{% endblock title %}</title>
</head>
<body>
    <!--
    <button class="theme-toggle">
      cambia modalità
    </button>
    -->
    <main>
            <a href="/">
                <img src="{% static 'img/favicon.png' %}" class="main-icon">
            </a>
            
            {% block form %}
            <form action="{% url "city_page" %}" method="post">
                {% csrf_token %}
                <div class="input-group">
                    {% if city_info %}
                    <input type="text" value="{{city_info.name}}" placeholder="{{city_info.name}}..." name="city" id="city">
                    {% else %}
                    <input type="text" placeholder="Scrivi il nome di una città..." name="city" id="city">
                    {% endif %}
                    <button type="submit">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </form>
            {% endblock form %}
        
        {% block content %}
        {% endblock content %}

    </main>
    <script src=" {% static '/scripts/main.js' %} "></script>
</body>
</html>